.programs {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if there isn't enough space */
    justify-content: center; /* Distributes space evenly between images */
    align-items: center; /* Aligns images vertically centered */
    /* Adjust as needed */
  }
  
  
  .programs img {
    max-width: 100%; /* Ensures images don't exceed container width */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes bottom space in inline-block elements */
  }
  .programs img {
    object-fit: cover; /* Or use 'contain' based on the effect needed */
    width: 30%;
    height: auto;
  }
  
    